<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultTemplate}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title th:text="${title}">Default Title</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Centered login form -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <!-- <h1 th:text="${title}">User Login</h1> -->
                             <!--Replace above with own header-->
                             <h2>Please Login</h2>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/doLogin}" th:object="${loginModel}" method="post">
                                <!-- Username input field -->
                                <div class="mb-3">
                                    <label for="username" class="form-label">User Name:</label>
                                    <input type="text" class="form-control" id="username" th:field="*{username}" />
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
                            </div>
                            <!-- Password input field -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}" />
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                            </div>
                             <!-- Submit button -->
                            <div class="d-grid">
                                <button type="submit" class="btn custom-submit-button">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>